.main-board {
  @extend %square;
  &__preload {
    position: absolute;
  }
  .cg-board-wrap {
    @extend %abs-100;
  }
}

.mini-board {
  @extend %square;
}

.cg-board-outer {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  display: table; /* hack: round to full pixel size in chrome */
  > div {
    position: absolute;
    width: 800%;
    height: 800%;
    display: block;
  }
}
